<!-- Handled by AocCtrl -->
<div>  

  <h2>{{aocs[index].name}}</h2>
  <h4>({{index+1}} / {{aocs.length}})</h4>

  <form class="form-inline">
    <!-- Question 1 : question -->
    <div class="form-group">
      <label class="radio-inline">
        <input type="radio" ng-model="questionAnswer" value="{{answerValues.isFood}}">
        Ça se mange
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="questionAnswer" value="{{answerValues.isDrink}}">
        Ça se boit
      </label>
    </div>
        
    <!-- Question 2 : location -->
    <div class="map">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" events="map.events">
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>        
  </form>
</div>
