<!-- Handled by AocCtrl -->
<div>  
    <form>
        {{aocs[index].name}}
        
        <!-- Question 1 : question -->
        <label>
            <input type="radio" ng-model="questionAnswer" value="{{answerValues.isFood}}">
            Ça se mange
        </label>
        <label>
            <input type="radio" ng-model="questionAnswer" value="{{answerValues.isDrink}}">
            Ça se boit
        </label>
        
        <!-- Question 2 : zipCode -->
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" events="map.events">
          <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
        </ui-gmap-google-map>
        
        <input type="submit" ng-click="addAnswer({'questionAnswer': questionAnswer, 'zipCodeAnswer': zipCodeAnswer})" value="Continuer" />
    </form>
</div>
