<!-- Handled by HomeCtrl -->
<h1 class="title-app gold">Eat Or Drink It</h1>
<form class="form-pseudo" name="pseudoForm">
  <input class="input-pseudo" type="text" ng-model="pseudo" id="pseudo" placeholder="Votre pseudo" required>
  <input class="btn btn-outline btn-lg" type="submit" ng-click="play(pseudo)" ng-disabled="pseudoForm.$invalid" value="Jouer" />
  </div>
</form>

<!-- High scores -->
<h3 class="title-bestScores">Meilleurs scores</h3>
<div ng-show="!isBackendReady" class="alert alert-info" role="alert">Chargement...</div>
<div ng-show="isBackendReady">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="score in scores">
        <td>{{$index+1}}</td>
        <td>{{score.name}}</td>
        <td>{{score.score}}</td>
      </tr>
    </tbody>
  </table>
</div>
