/**
  * Commons
  */
.table th {
  text-align: center;   
}

/**
  * index
  */
.main-template {
  text-align: center;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 75%;
}

/**
  * home
  */
/* @TODO : find another way to vertically center the form-group */
.form-group-pseudo {
  margin-left: 340px;	
}

/**
  * game
  */
ui-gmap-google-map {
  display: inline-block;
}

.angular-google-map-container {
  height: 400px;
  width: 400px;
}

.map {
  margin-top: 10px;
}

.btn-continue {
  margin-top: 10px;
}
