<!DOCTYPE html>
<html ng-app="aoc">
  
  <head>
    <meta charset="utf-8" />
    <title>Eat Or Drink It</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/aoc.js"></script>
    <script type="text/javascript" src="js/score.js"></script>
  </head>

  <body ng-controller="AOCController as aoc">
    
    <!-- Game -->
    <div ng-show="state == 1">
      <section ng-init="tab = 0">
        <ul class="list-group">
            <h3>{{questions[tab].name}}</h3>
            <button ng-click="aoc.check(0, questions[tab]);">Mangeable</button>
            <button ng-click="aoc.check(1, questions[tab]);">Buvable</button>
        </ul>
      </section>
    </div>
    
    <!-- Results -->
    <div ng-show="state == 2">
      <h1>My score</h1>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="score in scores">
          <h3>
            {{score.name}}
            :
            <span class="pull-right">{{score.result}}</span>
          </h3>
        </li>
      </ul>
      
      <!-- Test high scores -->
      <div ng-controller="HighScoreController as hs">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="highScore in highScores">
          {{highScore}}
        </li>
      </ul>
      </div>
      
    </div>
    
    <!-- High scores -->
    <!--
    <div ng-show="state == 3" ng-controller="HighScoreController as hs">
    </div>
    -->

  </body>

</html>

<script>
  var init = function() {
    console.log("init called");
    window.init();
  };
</script>

<script src="https://apis.google.com/js/client.js?onload=init"></script>
